<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuke.resetPassword.mapper.ResetPasswordMapper">
	<sql id="mysqlPage">
		<if test="rows > 0">LIMIT #{offset}, #{rows}</if>
	</sql>
	
	<select id="userList" resultType="Map">
		select id ,email,password from classicat.user_base where email = #{email}
			
	</select>

		<!-- 得到专辑的演奏家，作曲家等等 -->
	<update id="resetUser" 	parameterType="java.lang.String">
		update classicat.user_base set password = #{password}  where id = #{userId} 
	</update>
		
	
</mapper>